@import './styles/font.scss';

.business {
  display: flex;
  margin-bottom: 20px;
  
  .business__name {
    margin-left: 10px;
  }

  .business__image {
    width: 150px;
    height: 150px;
    border-radius: 5px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
}